[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "==2.1.11"
django-annoying = "==0.10.4"
django-bootstrap4 = "==0.0.7"
django-crispy-forms = "==1.7.2"
requests = "==2.21.0"
numpy = "==1.16.3"
scipy = "==1.2.1"

[requires]
python_version = "3.6"
