{% extends "shelves/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}
<div class="border border-light rounded mt-5 text-center">
    <div class="h2 m-3">{{ object.title }}</p>
    <div class="m-4"><img src="{{ object.cover_url }}" ></div>
</div>

<div class="h4 p-5 text-center">投稿一覧</div>
<div class="d-flex flex-wrap justify-content-center p-4">
    {% for post in object.post_set.all %}
        <div class="border border-light rounded m-1 p-4">
            <div class="h5 mb-2">{{ post.created_by.displayname }}</div>
            <div class="h4 text-warning mb-3">{{ post.rating }}</div>
            <div><a href="{% url 'shelves:post_detail' post.id%}">詳しく読む</a></div>
        </div>
    {% endfor %}
</div>

{% endblock %}