{% extends "shelves/base.html" %}
{% load staticfiles%}
{% load humanize %}

{% block content %}
test

<div class="text-right p-1">
    {% if not user.is_authenticated %}
        <p><a href="{% url 'shelves:login' %}">ログイン</a>または<a href="{% url 'shelves:signup' %}">サインアップ</a></p>
    {% endif %}
</div>

{% for post in posted_list %}
<div class="p-2">
    <div class="border border-light rounded p-4">
        <div class="h4">{{ post.title | linebreaksbr }}</div>
        <p>{{ post.created_by.displayname }}<a href="{% url 'shelves:profile' post.created_by.username %}">@{{ post.created_by.username }}</a> {{ post.created_at | naturaltime}}</p>
        <div class="row">
            <div class="col-sm-3"><a href="{% url 'shelves:book_detail' post.item.pk %}"><img src="{{ post.item.cover_url }}" /></a></div>
            <div class="col-sm-8">
                評価：<div class="mb-4 text-warning h4">{{ post.rating }}</div>
                <div class="text-truncate h-50">{{ post.comment | linebreaksbr }}</div>
            </div>
        </div>
        <div class="text-right"><a href="{% url 'shelves:post_detail' post.id%}">詳しく読む</a></div>
    </div>
</div>
{% empty %}
<div class="p-4">投稿がありません</div>
{% endfor %}

{% endblock %}