{% extends "shelves/base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}

<div class="border border-light rounded mt-5 text-center">
    <div class="h2 m-3">{{ object.title }}</div>
    <div class="m-4">{{ object.created_by.displayname }}<a href="{% url 'shelves:profile' post.created_by.username %}">@{{ object.created_by.username }}</a></div>
    <div class="m-2">{{ object.created_at.year }} 年 {{ object.created_at.month }} 月 {{ object.created_at.day }} 日 {{ object.created_at.hour }} 時 {{ object.created_at.minute }} 分</div>
    <div class="m-4"><a href="{% url 'shelves:book_detail' object.item.pk %}"><img src="{{ object.item.cover_url }}" ></a></div>
    <div class="p-4 text-wrap text-left">{{ object.comment | linebreaksbr}}</div>
    {% if user.username == object.created_by.username %}
        <div><a href="{% url 'shelves:post_update' object.id %}">編集</a></div>
        <div><a href="{% url 'shelves:post_delete' object.id %}">削除</a></div>
    {% endif %}
</div>

{% endblock %}