{% extends "shelves/base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<div class="p-4">

<form method="post">
{% csrf_token %}
<div>
{{ form.title|as_crispy_field }}
{{ form.comment|as_crispy_field }}
</div>
<div id="rating" class="container">
    {{ form.rating.label_tag}}
    <div class="h4 text-warning">[[ score ]]</div>
    {{ form.rating }}
</div><br>

<button class="btn btn-primary float-right" type="submit">投稿</button>
</form>

</div>

{% endblock %}

{% block extra_js %}
<script src="{% static 'shelves/js/post_update.js' %}"></script>
{% endblock %}