{% extends "shelves/base.html" %}
{% load staticfiles %}
{% block content %}

<div class="border border-light rounded mt-4 p-4">
    <div class="h5">{{ object.displayname }}</div>
    <div class="p-4">{{ object.profile.sentence}}</div>
</div>

<div class="d-flex flex-wrap justify-content-center">
    {% for post in object.post_set.all %}
        {% if post.public == True %}
            <div class="p-3"><a href="{% url 'shelves:post_detail' post.id%}"><img src="{{ post.item.cover_url }}" height="150"/></a></div>
        {% endif %}
    {% endfor %}
</div>

{% endblock %}